/* Estilo único para a tabela */
.tabela-roupas {
    width: 80%; /* Ajusta a largura da tabela conforme necessário */
    max-width: 600px; /* Define uma largura máxima */
    margin: 20px auto; /* Adiciona margem superior e inferior e centraliza a tabela */
    border-collapse: collapse;
}

.tabela-roupas th, .tabela-roupas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabela-roupas th {
    background-color: #BB86FC;
    color: #fff;
}

.tabela-roupas td {
    background-color: #424250;
    color: #fff;
}